h1{
    font-size: 70px;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 3px 3px;
    
}
h2 {
    text-align: center;
    font-size: 15px;
    color: aqua;
}
body {
    background-color: pink;
}